.tabs {
	margin-bottom: 20px;
	width: 100%;

	&__header {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 10px;
		margin-bottom: 30px;

		&-item {
			border-radius: 15px;
			padding: 10px 20px;
			text-align: center;
			color: var(--light-color);
			background-color: var(--accent-color);
			transition: filter 0.3s;
			cursor: pointer;

			&:hover {
				filter: brightness(113%);
			}

			&.active {
				filter: brightness(113%);
			}
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		&-item {
			width: 100%;
			animation: fade-in-left 1s;
		}
	}
}
