.calc {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	border-radius: 15px;
	padding: 20px 25px;
	width: 100%;
	max-width: 450px;
	background-color: var(--dark-blue-color);

	&__title {
		@include adaptive-font(30, 28);
		margin: 0;
		margin-bottom: 20px;
		font-weight: 900;
		line-height: 115%;
	}

	&__cost {
		@include adaptive-font(30, 28);
		margin-bottom: 20px;
		font-weight: 900;
		line-height: 115%;
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		gap: 15px;
	}

	&__phone {
		outline: none;
		border: 2px solid var(--light-color);
		border-radius: 15px;
		padding: 15px;
		width: 100%;
		color: var(--light-color);
		background-color: transparent;

		&::placeholder {
			text-align: center;
			color: var(--light-color);
		}
	}

	&__send {
		border: none;
		border: 2px solid var(--accent-color);
		border-radius: 15px;
		padding: 15px;
		width: 100%;
		color: var(--light-color);
		background-color: var(--accent-color);
		transition: all 0.3s;
		cursor: pointer;

		&:hover {
			border: 2px solid var(--light-color);
			background-color: transparent;
		}
	}
}

.calc-square {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 40px;

	&__range {
		appearance: none;
		outline: none;
		border-radius: 20px;
		width: 80%;
		height: 10px;
		background-image: linear-gradient(var(--accent-color), var(--accent-color));
		background-size: 9% 100%;
		background-repeat: no-repeat;
		background-color: var(--light-color);

		&::-moz-range-thumb {
			appearance: none;
			border: 3px solid var(--accent-color);
			border-radius: 50%;
			width: 15px;
			height: 15px;
			box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
			background-color: var(--light-color);
			cursor: pointer;
		}

		&::-webkit-slider-thumb {
			appearance: none;
			border: 3px solid var(--accent-color);
			border-radius: 50%;
			width: 25px;
			height: 25px;
			box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
			background-color: var(--light-color);
			cursor: pointer;
		}
	}

	&__label {
		border-radius: 15px;
		padding: 10px 25px;
		background-color: var(--light-color);
	}

	&__value {
		color: var(--dark-color);
	}
}

.calc-type {
	display: grid;
	grid-template-columns: 2fr 2fr;
	margin-bottom: 40px;
	gap: 5px 15px;

	&__value {
		display: flex;
		align-items: center;
		gap: 7px;
	}

	&__radio {
		&-real {
			position: absolute;
			z-index: -1;
			width: 0;
			height: 0;
			opacity: 0;
		}

		&-fake {
			position: relative;
			display: inline-block;
			flex-shrink: 0;
			border: 1px solid var(--light-color);
			border-radius: 50%;
			width: 16px;
			height: 16px;
			background-color: var(--light-color);
			cursor: pointer;

			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				border-radius: 50%;
				width: 10px;
				height: 10px;
				background-color: var(--accent-color);
				transform: translate(-50%, -50%) scale(0);
				transition: 0.2s ease-in;
			}

			.calc-type__radio-real:checked + &::before {
				transform: translate(-50%, -50%) scale(1);
			}

			.calc-type__radio-real:focus-visible + & {
				box-shadow: 0 0 0 2px var(--accent-color), 0 0 10px rgb(122 204 130 / 50%);
			}
		}
	}

	@media (max-width: 480px) {
		grid-template-columns: 1fr;
		gap: 10px;
	}
}

.calc-policy {
	@include adaptive-font(12, 11);
	margin: 0;
	line-height: 14px;
	color: var(--light-color);

	&__link {
		border-bottom: 1px solid var(--light-color);
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.7;
		}
	}
}
