.slider-wrap {
	position: relative;
	height: auto;
	max-width: 1240px;
}

.swiper {
	padding: 10px;

	&-btn {
		position: absolute;
		bottom: -85px;
		z-index: 5;
		width: 30px;
		height: 30px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		transform: translateY(-50%);
		cursor: pointer;

		&--next {
			right: 45%;
			background-image: url('@img/icons/sprite.svg#slider-next-arrow');
		}

		&--prev {
			left: 45%;
			background-image: url('@img/icons/sprite.svg#slider-prev-arrow');
		}

		@media (max-width: 768px) {
			display: none;
		}
	}
}
