.section {
	padding: 75px 0;

	&-hero {
		background-image: url('@img/hero/hero-bg.jpg');
	}

	&-foreman {
		background-image: url('@img/foreman/foreman-bg.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&-installment {
		background-image: url('@img/installment/installment-bg.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&--decor {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: -180px;
			top: -150px;
			z-index: -1;
			border-radius: 100%;
			width: 400px;
			height: 400px;
			background: linear-gradient(
				216.14deg,
				rgb(35 199 239 / 55%) -1.7%,
				rgb(35 199 239 / 43.5%) 32.82%,
				rgb(35 199 239 / 0%) 92.31%
			);
		}

		&::after {
			content: '';
			position: absolute;
			right: -180px;
			bottom: -150px;
			z-index: -1;
			border-radius: 100%;
			width: 400px;
			height: 400px;
			background: linear-gradient(180deg, rgb(35 199 239 / 55%) 0%, rgb(35 199 239 / 0%) 100%);
		}
	}

	@media (max-width: 992px) {
		padding: 50px 0;

		&--decor::before,
		&--decor::after {
			display: none;
		}
	}
	@media (max-width: 576px) {
		padding: 30px 0;
	}
}

.title {
	@include adaptive-font(40, 26);
	margin: 0;
	margin-bottom: 100px;
	font-weight: 600;
	line-height: 140%;
	text-align: center;

	@media (max-width: 992px) {
		margin-bottom: 75px;
		line-height: 115%;
	}
	@media (max-width: 576px) {
		margin-bottom: 40px;
	}
}

.text {
	margin: 0;
	line-height: 140%;
	color: var(--grey-color);
}

.link {
	display: inline-block;
	border: 2px solid transparent;
	border-radius: 15px;
	padding: 10px 20px;
	text-align: center;
	color: var(--light-color);
	background-color: var(--accent-color);
	transition: all 0.3s;

	&:hover {
		filter: brightness(113%);
	}

	&--transparent {
		border: 2px solid var(--light-color);
		background-color: transparent;

		&:hover {
			border-color: var(--accent-color);
			color: var(--accent-color);
		}
	}

	@media (max-width: 1200px) {
		padding: 10px 20px;
	}
	@media (max-width: 576px) {
		padding: 10px 15px;
	}
}

.form {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 15px;
	padding: 20px 25px;
	max-width: 355px;
	box-shadow: 0 0 10px rgb(0 0 0 / 25%);
	background-color: var(--light-color);

	&__title {
		@include adaptive-font(22, 19);
		position: relative;
		margin: 0;
		margin-bottom: 20px;
		font-weight: 500;
	}

	&__descr {
		margin-bottom: 20px;

		&--blue {
			@include adaptive-font(19, 18);
			color: var(--accent-color);
		}
	}

	&__socials {
		display: flex;
		justify-content: space-around;
		gap: 7px;
		margin-bottom: 35px;
	}

	&__social {
		display: flex;
		justify-content: center;
		width: 23%;
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		width: 100%;
		gap: 15px;
	}

	&__input-text {
		outline: none;
		border: 2px solid var(--accent-color);
		border-radius: 15px;
		padding: 15px;
		width: 100%;

		&::placeholder {
			line-height: 21px;
			color: var(--dark-opacity-color);
		}

		&:last-child {
			margin: 0;
		}
	}

	&__input-button {
		border: 2px solid transparent;
		border-radius: 15px;
		padding: 10px 20px;
		width: 100%;
		text-align: center;
		color: var(--light-color);
		background-color: var(--accent-color);
		transition: filter 0.3s;

		&:hover {
			filter: brightness(113%);
		}
	}

	&__text {
		@include adaptive-font(12, 11);
		margin: 0;
		line-height: 14px;
		color: var(--grey-color);

		&--link {
			border-bottom: 1px solid var(--grey-color);
			transition: all 0.3s;

			&:hover {
				border-bottom: 1px solid var(--dark-color);
				color: var(--dark-color);
			}
		}
	}
}

.form-social {
	&__label {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		border: 1px solid transparent;
		border-radius: 15px;
		padding: 7px;
		width: 100%;
		transition: border 0.1s;
		cursor: pointer;
		user-select: none;

		&:hover {
			border: 1px solid var(--dark-opacity-color);
		}
	}

	&__icon {
		margin-bottom: 10px;
		width: 35px;
		height: 35px;
	}

	&__name {
		@include adaptive-font(13, 11);
		font-weight: 300;
		line-height: 150%;
		text-align: center;
		color: var(--grey-color);
	}
}

.form-social input[type='radio']:checked + label {
	border: 1px solid var(--grey-color);
}

.table-wrap {
	overflow-x: auto;
	border-radius: 15px;
	width: 100%;
	box-shadow: 0 0 10px rgb(0 0 0 / 25%);
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;

	&__body {
		background-color: var(--light-color);

		tr {
			border-bottom: 1px solid #dfdfdf;

			&:last-child {
				display: none;
				border: none;
			}
		}
	}

	&__header {
		color: var(--light-color);
		background-color: var(--accent-color);

		th {
			&:first-child {
				text-align: left;
			}
		}
	}

	&__title {
		padding: 20px 25px;
		font-weight: 600;
		line-height: 140%;
	}

	&__item {
		padding: 20px 25px;
		font-weight: 400;
		line-height: 140%;
		text-align: center;
		color: var(--grey-color);

		&:first-child {
			text-align: left;
		}

		&--center {
			text-align: center !important;
		}
	}

	&__btn {
		border-radius: 15px;
		padding: 10px 20px;
		text-align: center;
		color: var(--light-color);
		background-color: var(--accent-color);
		transition: filter 0.3s;
		cursor: pointer;

		&:hover {
			filter: brightness(113%);
		}
	}
}

.accept-payment {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;

	&__text {
		font-weight: 500;
		color: var(--light-color);
	}

	&__icon {
		width: 60px;
		height: 20px;
	}
}
