// * Максимальная ширина макета
$container-width: 1430;

:root {
	// * Colors
	--black-color: #000;
	--light-color: #fff;
	--dark-color: #343434;
	--dark-opacity-color: #3434348a;
	--bg-color: var(--light-color);
	--accent-color: #23c7ef;
	--dark-blue-color: #2c8ba1;
	--grey-color: #5e5e5e;
}
