.select {
	position: relative;
	margin: 0 auto;
	max-width: fit-content;
	user-select: none;

	&__header {
		display: flex;
		align-items: center;
		padding: 10px 0;
		cursor: pointer;
		gap: 10px;
	}

	&__current {
		width: min-content;
	}

	&__geo {
		width: 20px;
		height: 20px;
	}

	&__arrow {
		width: 7px;
		height: 20px;
		transform: rotate(90deg);
		transition: transform 0.2s;
	}

	&__body {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 5;
		display: none;
		overflow: hidden;
		border-top: 0;
		border-radius: 15px;
		box-shadow: 0 0 35px rgb(0 0 0 / 25%);
		background-color: var(--light-color);
	}

	&__item {
		padding: 10px 15px;
		font-size: 16px;
		line-height: 24px;
		transition: all 0.1s;
		cursor: pointer;
	}

	&__item:hover {
		color: var(--light-color);
		background-color: var(--accent-color);
	}

	&.is-active .select__body {
		display: block;
		width: max-content;
	}

	&.is-active .select__arrow {
		transform: rotate(-90deg);
	}

	@media (max-width: 992px) {
		display: none;
	}
}
