.advantage {
	&__cards {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: center;
		gap: 50px 100px;

		@media (max-width: 768px) {
			gap: 30px;
		}
	}
}

.advantage-card {
	display: flex;
	align-items: center;
	border-radius: 15px;
	padding: 20px 25px;
	width: 100%;
	max-width: 500px;
	box-shadow: 0 0 10px rgb(0 0 0 / 25%);
	background: var(--light-color);
	gap: 20px;

	&__icon {
		flex-shrink: 0;
		width: 80px;
		height: 80px;

		use {
			fill: var(--accent-color);
		}

		@media (max-width: 576px) {
			width: 60px;
			height: 60px;
		}
	}

	&__text {
		@media (max-width: 576px) {
			text-align: center;
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 10px;
		font-weight: 500;
		line-height: 140%;
		text-transform: uppercase;
	}

	&__descr {
		margin: 0;
		font-weight: 400;
		line-height: 140%;
		color: var(--grey-color);
	}

	@media (max-width: 576px) {
		flex-direction: column;
		padding: 15px 10px;
		max-width: 100%;
	}
}
