.contacts {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;

	&__card {
		border-radius: 15px;
		padding: 20px 25px;
		box-shadow: 0 0 10px rgb(0 0 0 / 25%);
		background: var(--light-color);

		@media (max-width: 576px) {
			padding: 15px 20px;
			width: 100%;
		}
	}

	&__title {
		@include adaptive-font(22, 19);
		margin: 0;
		margin-bottom: 20px;
		font-weight: 500;

		@media (max-width: 576px) {
			margin-bottom: 20px;
		}
	}

	&__link {
		display: inline-block;
		width: 100%;
	}
}

.address {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	max-width: 300px;
	gap: 20px;

	&__icon {
		flex-shrink: 0;
		width: 25px;
		height: 25px;
	}

	&__text {
		font-weight: 500;
		font-style: normal;
		line-height: 140%;
		color: var(--grey-color);
	}
}

.phones {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	max-width: 300px;
	gap: 20px;

	&__icon {
		flex-shrink: 0;
		width: 25px;
		height: 25px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	@media (max-width: 576px) {
		margin-bottom: 20px;
	}
}

.phone {
	font-weight: 500;
	color: var(--grey-color);
	transition: color 0.2s;

	&:hover {
		color: var(--dark-color);
	}
}

.map {
	overflow: hidden;
	border-radius: 15px;
	width: 800px;
	height: 500px;
	box-shadow: 0 0 10px rgb(0 0 0 / 25%);

	@media (max-width: 576px) {
		height: 300px;
	}
}
