.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--light-color);
	gap: 20px;

	&__card {
		border-radius: 15px;
		padding: 40px 65px;
		max-width: 700px;
		background: rgb(0 0 0 / 15%);
		backdrop-filter: blur(3.5px);
		@media (max-width: 576px) {
			padding: 25px 20px;
		}
	}

	&__title {
		@include adaptive-font(38, 25);
		margin: 0;
		margin-bottom: 20px;
		font-weight: 700;
		line-height: 140%;
		text-align: left;
		@media (max-width: 576px) {
			margin-bottom: 15px;
			text-align: center;
		}

		@media (max-width: 992px) {
			line-height: 115%;
		}
	}

	&__text {
		@include adaptive-font(18, 16);
		margin: 0;
		margin-bottom: 60px;
		line-height: 140%;
		@media (max-width: 576px) {
			margin-bottom: 50px;
			text-align: center;
		}
	}

	&__links {
		display: flex;
		align-items: stretch;
		gap: 25px;
		@media (max-width: 1200px) {
			flex-direction: column;
			gap: 15px;
		}
	}

	&__link {
		&:hover {
			border: 2px solid #fff;
			border-radius: 15px;
			color: var(--light-color);
			background-color: transparent;
		}
	}

	@media (max-width: 992px) {
		flex-direction: column;
	}
}
