.installment {
	padding: 120px 0;

	@media (max-width: 576px) {
		padding: 0;
	}
}

.installment-card {
	position: relative;
	margin: auto;
	border-radius: 15px;
	padding: 20px 25px;
	max-width: 400px;
	background-color: var(--light-color);

	&__circle-left {
		@include adaptive-font(60, 38);
		content: '';
		position: absolute;
		left: -120px;
		top: -110px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		width: 150px;
		height: 150px;
		box-shadow: 0 0 10px rgb(0 0 0 / 25%);
		font-weight: 600;
		line-height: 140%;
		color: var(--accent-color);
		background-color: var(--light-color);
	}

	&__circle-right {
		@include adaptive-font(35, 38);
		content: '';
		position: absolute;
		right: -180px;
		bottom: -170px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		width: 250px;
		height: 250px;
		box-shadow: 0 0 10px rgb(0 0 0 / 25%);
		font-weight: 600;
		line-height: 100%;
		white-space: pre-wrap;
		text-align: center;
		color: var(--accent-color);
		background-color: var(--light-color);
	}

	&__title {
		@include adaptive-font(28, 25);
		margin: 0;
		margin-bottom: 30px;
		font-weight: 600;
		line-height: 140%;
	}

	&__list {
		margin-bottom: 30px;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (max-width: 576px) {
			margin-bottom: 15px;
		}
	}

	&__circle {
		position: relative;
		flex-shrink: 0;
		border-radius: 100%;
		width: 50px;
		height: 50px;
		background-color: var(--accent-color);
	}

	&__icon {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 30px;
		height: 30px;
		transform: translate(-50%, -50%);

		use {
			fill: var(--light-color);
		}
	}

	&__text {
		@include adaptive-font(19, 16);
		margin: 0;
		line-height: 140%;
		color: var(--grey-color);

		&--blue {
			@include adaptive-font(21, 18);
			color: var(--accent-color);
		}

		&--big {
			@include adaptive-font(80, 38);
			line-height: 100%;
			color: var(--accent-color);
		}
	}

	&__link {
		display: block;
		margin: 0 auto;
	}

	@media (max-width: 992px) {
		&__circle-left,
		&__circle-right {
			display: none;
		}
	}
}
