.quiz {
	min-height: 100px;
	max-width: 600px;
}

.quiz__questions {
	margin-bottom: 20px;
	text-align: center;
}

.quiz-question__title {
	@include adaptive-font(24, 18);
	margin: 0;
	margin-bottom: 30px;
}

.quiz-question__answers {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 30px;
}

.quiz-question__label {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	gap: 10px;

	span {
		@include adaptive-font(18, 16);
		color: var(--grey-color);
	}

	&:last-child {
		margin: 0;
	}
}

.quiz-question__answers input[type='text'] {
	padding-left: 10px;
	width: 200px;
	height: 40px;
}

.quiz-question__btn {
	border: 2px solid var(--accent-color);
	border-radius: 15px;
	padding: 10px 20px;
	color: var(--light-color);
	background-color: var(--accent-color);
	transition: filter 0.3s;
	cursor: pointer;

	&:hover {
		filter: brightness(113%);
	}
}
